@import './base.css';
@import './css/index.css';

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-elysia-500: #ff87c8;
  --color-bg: #ffffff;
  --color-bg-dark: #0a0a0a;
  --color-moonlight-99: #e3f3ff;
  --color-moonlight-100: #e8f7ff;
  --color-moonlight-200: #c2e9ff;
  --color-moonlight-300: #9cd7ff;
  --color-moonlight-400: #75c3ff;
  --color-moonlight-500: #4fadff;
  --color-moonlight-600: #2994ff;
  --color-moonlight-700: #1970d2;
  --color-moonlight-800: #0d4fa6;
  --color-moonlight-900: #053379;
  --color-moonlight-950: #001c4d;
  --color-moonlight-999: #192833;
}

@font-face {
  font-family: HarmonyOS Sans;
  src: url('./fonts//HarmonyOS_Sans_Regular.ttf');
}

body {
  background-color: #FFFFFF;
  font-family: HarmonyOS Sans;
}

.dark {
  body {
    background-color: #0a0a0a;
  }
}

@layer components {
  .a-link:hover {
    text-decoration: underline;
    color: #4fadff;
  }
}